/* Styles pour le header */
header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

/* Styles pour le logo */
header .custom-logo-link {
    width: 150px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Conserve les proportions de l'image */
}

/* Styles pour le titre */
header h1 {
    margin: 0;
}

/* Styles pour le menu de navigation */
nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px; /* Ajustez l'espacement entre les éléments de menu si nécessaire */
}

nav ul li:first-child {
    margin-left: 0; /* Suppression de l'espacement pour le premier élément */
}

nav a {
    text-decoration: none;
    color: #000; /* Changez la couleur selon vos préférences */
}
